.good {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  min-height: 358px;
  & img {
    object-fit: cover;
    border-radius: 8px;
  }
  & a {
    font-size: 20px;
  }
  & button {
    position: absolute;
    bottom: 28px;
    right: 0px;
  }
}


.price {
  font-weight: bold;
}