.btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: .5em 1.5em;
  border-radius: .8em;
  transition: color .2s linear, scale .1s linear;
  cursor: pointer;
  &:hover {
    color: #ffd500;
  }
  &:active {
    scale: .9;
  }

}